.css-wied2b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: rgba(255, 255, 255, 0.7) !important;
}
.css-p6qti8-MuiInputBase-root-MuiOutlinedInput-root{
    font-size: 18px !important;
}
.css-wxl1jl-MuiInputBase-root-MuiOutlinedInput-root{
    font-size: 18px !important;

}